# ==========================================
# 🧠 PYTHON / IA
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
vitisguardvenv/
data/temp_uploads/

.env

# Modelos IA pesados
*.pt
*.pth
*.onnx
*.h5

# ==========================================
# 📱 FLUTTER / DART
# ==========================================
.dart_tool/
.packages
.pub-cache/
.pub/
build/
kernel.*
# Ignorar archivos generados por plugins
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugins.cmake

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# ==========================================
# 🗄️ BASES DE DATOS
# ==========================================
*.db
*.sqlite
*.sqlite3
vitisguard*.db

# ==========================================
# 📂 ARCHIVOS TEMPORALES
# ==========================================
data/temp_uploads/

# ==========================================
# 💻 IDEs
# ==========================================
.vscode/
.idea/
*.iml

# ==========================================
# 🖥️ SISTEMA OPERATIVO
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# 🔐 CLAVES / FIRMAS
# ==========================================
*.jks
*.keystore

# Android / iOS / Desktop generated
android/.gradle/
android/app/debug/
ios/Pods/
ios/.symlinks/
linux/flutter/generated_*/
windows/flutter/generated_*/
macos/Flutter/GeneratedPluginRegistrant.*